<h1>Nuevo estudiante</h1>

<form action="/onix/students/create" method="POST">
  <label for="nickname">Nickname</label>
  <input type="text" name="nickname">
  <input type="submit" value="Crea estudiante">
</form>
