<h1>Hola Onix</h1>

<ul>
  <% @names.each.with_index do |name, index| %>
    <li><a href="/onix/students/<%= index %>"><%= name %></a></li>
  <% end %>
</ul>

<a href="/onix/students/new">Crea estudiante nuevo</a>


