<h1>Editame! Miau!</h1>

<% if @error %>
	<h3>Tu catico ya es lindo porque nó es válido!</h3>
	<img src="http://mxcdn02.mundotkm.com/2015/09/Captura-de-pantalla-2015-09-09-a-las-12.23.01-190x160.png">
	<ul>
		<% @error.each do |error| %>
			<li><%= error %></li>
		<% end %>
	</ul>
<% end %>

<form action="/cats/<%= @cat.id %>" method="post">
	<input type="hidden" name="_method" value="PATCH">
	<label for="name">Nombre con el que me vas a cambiar</label>
	<input type="text" name="name" value="<%= @cat.name %>"><br>
	<label for="age">Año nuevo, vida nueva!</label>
	<input type="number" name="age" value="<%= @cat.age %>"><br>
	<input type="submit" value="Cambiame!!! :(">
</form>
